<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.smb.univ.developer.ClashAndConnect" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ClashAndConnect</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <icon src="./www/img/Punch.png" />
    <splash src="./www/img/Punch.png" density="land-hdpi"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
