@import url('https://fonts.cdnfonts.com/css/sportive-3');

*{
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    background-color:#E4E4E4;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    
}

h1 {
    font-family: 'SPORTIVE', sans-serif;
    text-align: center ;
}

.event {
    border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

#deviceready.ready .event.listening { display: none; }
#deviceready.ready .event.received { display: block; }

.swiper {
    padding-top: 20px;
    width: 340px;
    height: 800px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#map { 
    height: 900px;
 }

#NoWifi {
    
    width: 80%;
    height: 90%;
}
#Active_DATA{
    
    display: flex;
}

#demo-menu-lower-left{
    height: 50px;
    width: 50px;
}
#image{
    width: 200px;
    height: 200px;
    rotate: 90deg;
    border-radius: 50%;
}

#Gallery img{

    margin-top: 50px;
    width: 115px;
    height: 115px;
    padding: 10px;
    rotate: 90deg;
    display: inline-block;
    
}
#Gallery img{
    border-left: 100px;
}
#fixed-tab-3 h1{
    font-size: 50px;
}
#fixed-tab-3 img{
    width: 100%;
}
#profil h1{
    font-family: 'SPORTIVE', sans-serif;
    margin-top: 0px;
    text-decoration: underline;
}
h2{
    margin-bottom: 50px;
}
#description {
    font-family: 'SPORTIVE', sans-serif;
    font-size: 20px;

}

button{
    height: 40px;
    width: 100px;
    background-color: #333492;
    color: white;
    border-radius: 10px;
    border: none;
}

#PopUp_button{
    color: #333492;
    height: 10px;
    width: 10px;
}

